

.skill-card{
    
    z-index: 6  ;
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin: 5rem 15rem 5rem 15rem;
    flex-wrap: wrap;
    
}

.custom-spotlight-card{
    text-align: center;
    width: 150px;
    padding: 1rem   ;
    margin: 2rem 2rem 2rem 2rem;

}




.sk-title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4rem;
}