body{
  margin: 0px;
  overflow: hidden; /* Hide scrollbars */
  /* cursor: wait; */
  background-color: black;
}


.about{
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
  
}

.content{
  z-index: 2;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.intro-text{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  font-size: 5rem;

}