body{
  margin: 0px;
  overflow: hidden; /* Hide scrollbars */
  /* cursor: wait; */
}


.about{
  position: relative;
  width: 100vw;
  height: 100vh;
  color: white;
}

.content{
  z-index: 1;
  position: relative;
}