@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&family=Press+Start+2P&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&family=Jersey+10&family=Press+Start+2P&display=swap');

body{
  margin: 0px;
  overflow: hidden; /* Hide scrollbars */
  /* cursor: wait; */
  background-color: black;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;
}


.scroll-cont{
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}



.page {
  position: relative;         
  width: 100%;
  height: 100vh;               
  
  scroll-snap-align: start;    
  
  overflow: hidden;            
}
