.orb-layer {
    position: absolute;
    inset: 0;
    z-index: 5;
  }
  

  
  .content{
    z-index: 6  ;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
   
  }
  
  .intro-text{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    font-size: 3rem;
  
  }
  