
.orb-layer {
  position: absolute;
  inset: 0;
  z-index: 5;
}

.about{
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;

  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  
  
}

.content{
  z-index: 3  ;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
}

.intro-text{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  font-size: 3rem;

}


/* about description */

.abt-desc{
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  overflow: hidden;
  position: relative;
  
}

.desc-bg{
  position: absolute;
  inset: 0;
  z-index: 1;
}


.desc-cont{
  position: relative;
  z-index: 2;

  height: 100%;
  max-width: 70%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0 24px;
  text-align: left;
  color: white;

  font-size: 2rem;
}

