
.about{
  height: 100vh;
  width: 100%;
}

/* about description */

.abt-desc{
  width: 100%;
  height: 100vh;

}

.desc-bg{
  position: absolute;
  inset: 0;
  z-index: 1;
}


.desc-cont{
  position: relative;
  z-index: 2;

  height: 100%;
  max-width: 70%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0 24px;
  text-align: left;
  color: white;

  font-size: 2rem;
}

